.header{
    width: 100%;
  background-color: #ffffff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.usermanagement{
    display: flex;
    justify-content: flex-end;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
}
li{
    display: flex;
    justify-content: space-between;
    font-family: OpenSans-Semibold;
    padding: 30px 40px;
    font-family: "fonts/OpenSans-Semibold.ttf";
    font-size: 13px;
    font-weight: 600;
  text-align: left;
  color: #373d3f;
  text-transform: uppercase;



}
.bank logo {
    width: 171px;
    height: 36px;
    
  }
.userProfile{
    width: 35px;
  height: 35px;
  border-radius: 100px;
  margin: 12px;
  background-color: #b2df94;
}

.username{
    width: 85px;
    height: 32px;
    opacity: 0.6;
    font-family: OpenSans;
    font-size: 16px;
    align-self: center;
}

.logout{
   
    
  width: 70px;
  height: 30px;
  border: solid 1.2px black;
  border-radius: 4px;
  font-family: OpenSans-Bold;
  align-self: center;
  
  
  color: black;
  background-color: white;
}

.bankimage{
    width: 100%;
    position: relative;

}
.bankimage img{
    object-fit: cover;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}




.quick-access{
    z-index: 0;
    font-size: 11px;
    position: absolute;
    border: solid 1px;
    border-radius: 3px;
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    right: 40px;
    top: 37px;
    left:1200px;
    background-color: #fdfdfd;
}


.dashboard-box{
    display:flex;
    align-items: center;
    /*padding: 17px 17px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border-bottom: solid 1px #a3a8ac;
}
.root{  
    font-size: 12px;
    font-weight: bold;
    padding: 17px 5px 17px 24px;
    right:24px;
}

.widget-folder{
font-weight: bolder;
}

.widget-library-title{
    font-size: 20px;
    display: flex;
    padding: 10px 0;

}

.widget-library-title p{
    padding-left: 31px;
}
.widget-library-title img{
    padding-right: 20px;
    transform:rotate(180deg);
}

.select-wid{
    font-size: 12px;
    padding-left: 74px;
    padding-top: 12px;
}

.flf{
    display: flex;

    margin-top: 28px;
    justify-content: space-between;
    text-align: center;
}
.mpt{
    display: flex;
    
    justify-content: space-between;
    text-align: center;
}
.fixed-deposit,.loans,.future-payments,.mail-alerts,.password-alerts,.trnsaction-shortcuts{
    padding-top: 44px;
    /*padding-left: 66px;*/
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.07);
    justify-items: center;
}

.fixed-deposit img+p{
    padding-top: 20px;
}
.loans img+p{
    padding-top: 20px;
}
.future-payments img+p{
    padding-top: 20px;
}
.mail-alerts img+p{
    padding-top: 20px;
}
.password-alerts img+p{
    padding-top: 20px;
}
.trnsaction-shortcuts img+p{
    padding-top: 20px;
}

.bottom-box{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.widget-filter{
    display: flex;
    justify-content: space-between;
    /*border-radius: 3px;*/
    padding: 15px;
  border-bottom: solid 1px #d9e0e6;
}
.widget-filter img{
    height : 17px;
    width: 14px;
}
.widget-filter p{
    font-size: 16px;
    
}

.left{
    display: flex;
    flex-direction: column;
}


/* customize label*/
.activity ,.func{
    display: block;
    position: relative;
    padding: 0px 35px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
  }

  /* hide browser checkbox*/
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url("assets/checkbox-unchecked.svg")

  }

  /* When the checkbox is checked, add a blue background */
.activity input:checked ~ .checkmark {
    background-image: url("assets/chrck-box.svg");
  }
  .func input:checked ~ .checkmark {
    background-image: url("assets/chrck-box.svg");          /* try to apply common props*/
  }
  
  .activity-filter,.func-filter p{
      font-size: 14px;
  }


  .activity-filter,.func-filter{
      border-bottom: dashed 1px #c6cfd9;
      margin: 15px;

  }

  .widget-status{
    margin: 15px;
  }
  

  .widget-filter-container{
    border-radius: 3px; 
    background-color: #ffffff;
    border: solid 1px #d9e0e6;
    margin-right: 65px; /*fix this*/
  }

  button{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 #c6cfd9;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bolder;
    font-family:'Open Sans', sans-serif;
  }